<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-info btn-sm mr-1"><a href="/ajoutTypeTransaction" style="color: white;">Ajouter un TypeTransaction</a></button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Id
                </th>
                <th>
                  Type
                </th>
                <th>
                  Valeur
                </th>
  
              
                <th>
                  Actions
                </th>
               
              </thead>
              <tbody>
                <tr *ngFor="let tt of filteredTypeTransactions">
                  <td>
                    {{tt.id}}
                  </td>
                  <td>
                    {{tt.type}}
                  </td>
                  <td>
                    {{tt.value}}
                  </td>
  
  
                  <td>
                   <Button type="button" class="btn btn-info btn-sm mr-1" (click)="updateTypeTransaction(tt.id)">Mettre à jour</Button>      
                              
                   <button type="button" class="btn btn-info btn-sm mr-1"  (click)="deleteTypeTransaction(tt.id)">Supprimer</button> 
  
                  </td>
  
                  
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   