<div class="container">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            Details Client
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Email:</label>
              <p>{{ client.email }}</p>
            </div>
            <div class="form-group">
              <label>Name:</label>
              <p>{{ client.name }}</p>
            </div>
            <div class="form-group">
              <label>Last Name:</label>
              <p>{{ client.lastname }}</p>
            </div>
            <div class="form-group">
              <label>Phone:</label>
              <p>{{ client.phone }}</p>
            </div>
            <div class="form-group">
              <label>CIN:</label>
              <p>{{ client.mf }}</p>
            </div>
            <div class="form-group">
              <label>Active:</label>
              <p>{{ client.actif ? 'Oui' : 'Non' }}      <button type="button"   (click)="ActiverCompte()" class="btn btn-info btn-sm" *ngIf="!client.actif">Activer compte</button></p>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  