<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="input-group no-border">
          <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search..." (input)="filterCommercials()" >
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-info btn-sm mr-1"><a href="/ajoutCommercial" style="color: white;">Ajouter un Commercial</a></button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nom
              </th>
              <th>
                Prenom
              </th>
              <th>
                Email
              </th>

              <th>
                Phone
              </th>
            
              <th>
                Actions
              </th>
             
            </thead>
            <tbody>
              <tr *ngFor="let cli of filteredCommercials">
                <td>
                  {{cli.lastname}}
                </td>
                <td>
                  {{cli.name}}
                </td>
                <td>
                  {{cli.email}}
                </td>

                <td>
                  {{cli.phone}}
                </td>

                <td>
                 <Button type="button" class="btn btn-info btn-sm mr-1" (click)="updateCommercial(cli.id)">Mettre à jour</Button>      
                            
                 <button type="button" class="btn btn-info btn-sm mr-1"  (click)="deleteCommercial(cli.id)">Supprimer</button> 

                </td>

                
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">

    
    <div *ngIf="notification" class="alert alert-success alert-dismissible fade show mt-2" style="width: 15%; position: absolute; top: 0;right: 0;" role="alert">
      {{ notification }}
    </div>
  </div>