<div class="row">
    
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Ajouter un client</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="clientForm" (submit)="ajouterClient()">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Email" formControlName="Email" [ngClass]="{ 'is-invalid': submitted && clientForm.controls.Email.errors }" >
                  <div *ngIf="submitted && clientForm.controls.Email.errors" class="invalid-feedback">
                    <div *ngIf="clientForm.controls.Email.errors.required">Email is required</div>
                    <div *ngIf="clientForm.controls.Email.errors.email">Invalid email format</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
           
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nom</label>
                  <input type="text" class="form-control" placeholder="Nom"  formControlName="nom" [ngClass]="{ 'is-invalid': submitted && clientForm.controls.nom.errors }">
                  <div *ngIf="submitted && clientForm.controls.nom.errors" class="invalid-feedback">
                    <div *ngIf="clientForm.controls.nom.errors.required">Nom is required</div>
                  </div>                </div>
              </div>
            </div>
            <div class="row">
           
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>address</label>
                  <input type="text" class="form-control" placeholder="address"  formControlName="address" [ngClass]="{ 'is-invalid': submitted && clientForm.controls.address.errors }">
                  <div *ngIf="submitted && clientForm.controls.address.errors" class="invalid-feedback">
                    <div *ngIf="clientForm.controls.address.errors.required">address is required</div>
                  </div>                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Telephone</label>
                  <input type="text" class="form-control" placeholder="Telephone"  formControlName="telephone" [ngClass]="{ 'is-invalid': submitted && clientForm.controls.telephone.errors }">
                  <div *ngIf="submitted && clientForm.controls.telephone.errors" class="invalid-feedback">
                    <div *ngIf="clientForm.controls.telephone.errors.required">Telephone is required</div>
                    <div *ngIf="clientForm.controls.telephone.errors.pattern">Invalid telephone format</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>MF</label>
                  <input type="text" class="form-control" placeholder="Matricule Fiscale/MF"  formControlName="mf" [ngClass]="{ 'is-invalid': submitted && clientForm.controls.mf.errors }">
                  <div *ngIf="submitted && clientForm.controls.mf.errors" class="invalid-feedback">
                    <div *ngIf="clientForm.controls.mf.errors.required">MF is required</div>
                  </div>              
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>lat</label>
                  <input type="text" class="form-control" placeholder="lat"  formControlName="lat" [ngClass]="{ 'is-invalid': submitted && clientForm.controls.lat.errors }">
                  <div *ngIf="submitted && clientForm.controls.lat.errors" class="invalid-feedback">
                    <div *ngIf="clientForm.controls.lat.errors.required">lat is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>long</label>
                  <input type="text" class="form-control" placeholder="long"  formControlName="long" [ngClass]="{ 'is-invalid': submitted && clientForm.controls.long.errors }">
                  <div *ngIf="submitted && clientForm.controls.long.errors" class="invalid-feedback">
                    <div *ngIf="clientForm.controls.long.errors.required">long is required</div>
                  </div>              
                </div>
              </div>
            </div>
            <div class="row">
              
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Ajouter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  