<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-warning"><a href="/ajoutCommande" style="color: white;">Ajouter une
            commande</a></button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                id
              </th>
              <th>
                Client
              </th>

              <th>
                Actions
              </th>

            </thead>
            <tbody>
              <tr *ngFor="let com of tabCommandes">
                <td>
                  {{ com.id }} </td>
                <td>
                  {{com.client.name}} &nbsp {{com.client.lastname}}
                </td>
            
                <td>
                  <Button type="button" class="btn btn-warning mr-1" (click)="toDetailPage(com.id)">Voir détails</Button>


                  <Button type="button" class="btn btn-warning mr-1" (click)="updateCommande(com.id)">Mettre à jour</Button>

                  <button type="button" class="btn btn-warning" (click)="deleteCommande(com.id)">Supprimer</button>

                </td>



              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>