.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #ffc107; // Background color you like
    color: white;
    border-radius: 5px;
  
    input[type="file"] {
      display: none;
    }
  }
  .btn-wide {
    display: block;
    width: 100%;
    margin-bottom: 10px; // Add some space between buttons if needed
    
  }