<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="input-group no-border">
          <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search..." (input)="filterClients()" >
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-warning"><a href="/ajoutClient" style="color: white;">Ajouter un client</a></button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
           
              <th>
                Prenom
              </th>
              <th>
                Email
              </th>

              <th>
                Phone
              </th>
            
              <th style="text-align: center;">
                Actions
              </th>
             
            </thead>
            <tbody>
              <tr *ngFor="let cli of filteredClients index as i ">
          
                <td>
                  {{cli.name}}
                </td>
                <td>
                  {{cli.email}}
                </td>

                <td>
                  {{cli.phone}}
                </td>

                <td style="text-align: center;">
                  
                  <button class="btn btn-info  mr-1"  (click)="detailsClient(cli.id)">Voir détails</button> 

                  <Button type="button" class="btn btn-warning mr-1" (click)="updateClient(cli.id)">Mettre à jour</Button>      
                            
                 <button class="btn btn-danger mr-1"  (click)="deleteClient(cli.id)">Supprimer</button> 

                
                <button type="button"   (click)="ActiverCompte(i,cli)" class="btn btn-success mr-1" *ngIf="cli.actif==false">Activer compte</button>
              </td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 