<!-- add-order.component.html -->

<div class="container mt-4">
  <h2 class="mb-4">Ajouter Commande</h2>

  <form>
    <!-- Client Selection -->
    <div class="form-group">
      <label for="client">Choisir Client</label>
      <select class="form-control" id="client" [(ngModel)]="newOrder.client" name="client">
        <option *ngFor="let client of tabClients" [ngValue]="client">{{ client.name }}</option>
      </select>
    </div>

     <!-- Order Items Table -->
     <table class="table">
      <thead>
        <tr>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Prix HT</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of newOrder.rows; let i = index">
          <td>
            <select class="form-control" [(ngModel)]="row.product" name="product{{i}}"  >
              <option *ngFor="let product of tabProduits" [ngValue]="product" >{{ product.name }}</option>
            </select>
          </td>
          <td>
            <input type="number" min="1" class="form-control" [(ngModel)]="row.qte" name="quantity{{i}}">
          </td>
          <td>
            <p>{{row.product?.price}}</p>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="removeRow(i)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Add Row Button -->
    <button type="button" class="btn btn-primary mb-3" (click)="addRow()">Ajouter Produit</button>


    <br>
    <!-- Submit Button -->
    <button type="button" class="btn btn-success mt-3" (click)="ajouterCommande()">Envoyer</button>
  </form>
</div>
