.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #ffc107; // Background color you like
    color: white;
    border-radius: 5px;
  
    input[type="file"] {
      display: none;
    }
  }
  .btn-open-popup { 
    padding: 12px 24px; 
    font-size: 18px; 
    background-color: green; 
    color: #fff; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  } 
  
  .btn-open-popup:hover { 
    background-color: #4caf50; 
  } 
  
  .overlay-container { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    justify-content: center; 
    align-items: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
  } 
  
  .popup-box { 
    background: #fff; 
    padding: 24px; 
    margin-left: 10%;
    border-radius: 12px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    width: 75%; 
    text-align: center; 
    max-height: 80vh; /* Set max-height */
    overflow-y: auto; /* Enable vertical scrolling */
    opacity: 0; 
    transform: scale(0.8); 
    animation: fadeInUp 0.5s ease-out forwards; 
  } 
  
  .form-container { 
    display: flex; 
    flex-direction: column; 
    width: 100%;
  } 
  
  .form-label { 
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #444; 
    text-align: left; 
  } 
  
  .form-input { 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 16px; 
    width: 100%; 
    box-sizing: border-box; 
  } 
  
  .btn-submit, 
  .btn-close-popup { 
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
  } 
  
  .btn-submit { 
    background-color: green; 
    color: #fff; 
  } 
  
  .btn-close-popup { 
    margin-top: 12px; 
    background-color: #e74c3c; 
    color: #fff; 
  } 
  
  .btn-submit:hover, 
  .btn-close-popup:hover { 
    background-color: #4caf50; 
  } 
  
  /* Keyframes for fadeInUp animation */ 
  @keyframes fadeInUp { 
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
  
    to { 
        opacity: 1; 
        transform: translateY(0); 
    } 
  } 
  
  /* Animation for popup */ 
  .overlay-container.show { 
    display: flex; 
    opacity: 1; 
  } 
  .help {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  
  .popup-box1 { 
    background: #fff; 
    padding: 24px; 
    margin-left: 10%;
    border-radius: 12px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    width: 40%; 
    text-align: center; 
    max-height: 80vh; /* Set max-height */
    overflow-y: auto; /* Enable vertical scrolling */
    opacity: 0; 
    transform: scale(0.8); 
    animation: fadeInUp 0.5s ease-out forwards; 
  } 
  .help1 {
    position: absolute;
    top: 0px;
    right: 5%;
  }