<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="input-group no-border">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search..." (input)="filterProfiles()" >
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-warning"><a href="/ajoutProfile" style="color: white;">Ajouter un Profile</a></button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>

                <th>
                  Clients
                </th>

              
                <th>
                  Actions
                </th>
               
              </thead>
              <tbody>
              <tr *ngFor="let prof of filteredProfiles">
                <td (dblclick)="editProfile(prof)">
                  <span *ngIf="!prof.editing">{{prof.intituleProfile}}</span>
                  <input *ngIf="prof.editing" type="text" [(ngModel)]="prof.intituleProfile" (keyup.enter)="saveProfile(prof)">
                </td>

                <td>
                  <select class="form-control" >
                    <option  *ngFor="let client of prof.clients" [value]="client.id">{{ client.name }}</option>
                  </select>
                </td>

                <td>
                  <button class="btn btn-warning mr-1" (click)="affecterClients(prof.id)">Affecter clients</button>
                  <button class="btn btn-warning" (click)="deleteProfile(prof.id)">Supprimer</button>
                </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   