<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="card-body">
        <ul>
          <li>
            <p>
              Cliquez sur ce lien pour télécharger le programme de
              synchronisation avec SQL <a href="http://localhost:3000/uploads/sycnhroSQL.exe">ici</a><br />
            </p>
          </li>
          <li>
            <p>
              Cliquez sur ce lien pour télécharger le programme de
              synchronisation avec Sage100 <a href="http://localhost:3000/uploads/sycnhroSAGE.exe">ici</a><br />
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
