<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-cart-simple text-warning"></i>
            </div>
          </div>
          <div class="col-9">
            <div class="numbers">
              <p class="card-category">Nouvelles commandes</p>
              <p class="card-title">{{ commandeNon.length }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-copy-04 text-success"></i>
            </div>
          </div>
          <div class="col-9">
            <div class="numbers">
              <p class="card-category">Commande en traitement</p>
              <p class="card-title">{{ commandeEnCou.length }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-delivery-fast text-danger"></i>
            </div>
          </div>
          <div class="col-9">
            <div class="numbers">
              <p class="card-category">
                Commandes <br />
                à livrer
              </p>
              <p class="card-title">{{ commandeLiv.length }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-check-2 text-primary"></i>
            </div>
          </div>
          <div class="col-9">
            <div class="numbers">
              <p class="card-category">
                Commandes <br />
                livrées
              </p>
              <p class="card-title">{{ commandeTem.length }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Nouvelles commandes.</h5>
        <p class="card-category">Nombre de commandes par jour</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <!-- <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr />
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div> -->
    </div>
  </div>
</div>

